body{
    margin: 0%;
    font-family: "Roboto Bold", sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.contactos{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.unica{
    display: flex;

}
.usuario1 {
    padding-left: 5%;
}
.usuario1 p{
    color: #bec1bb;
    margin-top: 0%;
}
.usuario1 h3{
    margin-bottom: 5px;
}
.usuario{
    padding-top: 8px;
    padding-left: 15px;
}
.usuario h3{
    margin-bottom: 5px;
}
.usuario p{
    margin-top: 0%;
}
.info{
    display: flex;
}
.icons{
    display: flex;
    padding-top: 12%;
}

.primera{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1.8px solid #bec1bb;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.bigchats{
}
.chats{
    border: 1px solid #e8ebe4;
    display: flex;
}
.boton{
    display: flex;
    justify-content: center;
    border: 1px solid #e8ebe4;
    padding: 30px ;
}
.boton1{
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    background-color: #a491d2 ;

}

